.container h1
{
  text-align: center;
}
.row input
{
  margin-left: 40px;
}
.row
{
  background-color: blue;
}
.jumbotron
{
  margin-left: 400px;
}
button
{
  margin-left: 90px;
}
li
{
  color: blue;
  cursor: pointer;
}
p
{
  text-align: center;
}
.col-md-6
{
  background-color: gray;
  margin-left: 300px;
}
